<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!--Style CSS-->
    <link rel="stylesheet" href="../style.css">
    <!--Import d'Axios pour interagir avec la base de données en backend-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--Logique d'affichage des données-->
    <script src="ejs.js"></script>
    <!--Logique d'affichage de l'application côté front-->
    <script src="viewejs.js"></script>
    <title>To Do List | Accueil</title>
</head>
<body>
    <header>
        <h1>To Do List</h1>
        <button><a href="/login/users">Se connecter</a></button>
        <img src="../src/images/avatar01.png" alt="avatar">
    </header>
    <main>
        <div id="app">
            <section>
                <ul>
                    <% for (const task of tasks) { %>
                        <li>
                            <div class="oneTask">
                                <!--Utiliser v-model pour lier l'état de la case à cocher à une propriété dans l'objet Vue-->
                                <input type="checkbox" name="completed" id='<%= task.id %>' aria-label="<%= task.id %>" <% if (task.completed) { %> checked  <% } %>/>
                                <!--Affiche le nom de la tâche-->
                                <!--Si je ne peux pas éditer la tâche-->
                                <% if (task.editing) { %>
                                    <!--Si je peux éditer la tâche-->
                                    <input type="text" name="taskTitle" value="<%= task.titre %>" placeholder="Editer la tâche"/>
                                <% } else { %>
                                    <!--Si la tâche n'est pas en cours d'édition-->
                                    <p > <%=  task.titre %> </p>
                                <% } %>
                            </div>
                            <!--Affiche le nom de l'auteur de la tâche-->
                            <span id="taskOwner"><%= task.owner  %> </span>
                              <!-- Formulaire d'édition -->
                            <form action="/tasks/<%= task.id %>" method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="submit" value="<%= task.editing ? 'Enregistrer' : 'Editer' %>" />
                            </form>
                            <!-- Formulaire de suppression -->
                            <form action="/tasks/<%= task.id %>" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="submit" value="Supprimer" />
                            </form>
                        </li>
                    <% } %>
                </ul>
            </section>
            <section>
                <form action="/tasks" method="POST">
                    <input type="text" name="titre" placeholder="Ajouter une tâche">
                    <input type="submit" value="Ajouter">
                </form>
            </section>
        </div>
    </main>
    <footer>
        &copy; 2023
    </footer>
</body>
</html>